<div class="card">

    <div class="table-responsive">
        <table class="table" *ngIf='users$ | async as users'>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Phone</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor='let user of users'>
                        <td>{{ user.name.first }} {{ user.name.last }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.company }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.balance }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>