

<!-- [ngModel]="BirthDate | date:'yyyy-MM-dd'" -->
<form [formGroup]="usersHomeForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label>Date:</label>
    <div class="form-control">
      <input type="date" 
        #birthDateElement 
        formControlName="BirthDate" required
        id="BirthDate" 
        name="BirthDate"
        [ngModel]="BirthDate" >
    </div>
  </div>
  <button class="btn btn-success" type="submit">GO</button>
</form>

  <div class='row'>    
    <div class='col-md-4'>
      <app-users-search></app-users-search>
    </div>
    <div class='col-md-8'>
      <app-users-list></app-users-list>
    </div>
  </div>
